@page
@model IndexModel

@{
	ViewData["Title"] = "Homepage";
}

<div class="row">
   
    @foreach (string pizzaIconURL in Model.HomepagePizzaIconURLs) {
        <div id="menu" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div style="height:180px; width:100%;">
                <img src="@Url.Content(pizzaIconURL)" />
               </div>
            <div style="width:100%; text-align:center">
                <br />         
                <h3>
                    <label for="" style="color:#febc11">Pizza</label>
                    <label for="">$12.99</label> 
                </h3>
                   
            </div>
        </div>
    }
</div>	

<div>
	<form method="get" style="text-align:center;border:none">
		@if (@Model.LoggedIn) {
			<input type="submit" asp-page="/Menu" value="Click Here To Start Order" class="submit" style="width:20%; border:1px solid lightgray; height:60px; border-radius:5%; font-size:large; background-color:white"  />
		} else {
			<input type="submit" asp-page="/Customer/Login" value="Click Here To Start Order" class="submit" style="width:20%; border:1px solid lightgray; height:60px; border-radius:5%; font-size:large; background-color:white"  />
		}
	</form>
</div>

<style>
	.row {
		margin: 0%;
		padding: 0%;
		height: 650px;
		width: 100%;
	
		/*border: 1px solid lightgray;*/
		/*-moz-box-shadow: 2px 2px 2px 2px darkblue;
		webkit-box-shadow: 2px 2px 2px 2px darkblue;
		box-shadow: 0px 0px 10px 0px gray;*/
		/*background-color:black;*/
	}

	form div {
		text-align: center;
	}
     
	header {
		/*background-color: #febc11;*/
		font-weight: bold;
		height:80px
	}

	#menu {
		margin: 0%;
		padding: 1%;
		height: 300px;
	}

	form {
		border: 1px solid lightgray;
	}

	img {
		width: 99%;
		height: 180px;
		border-radius:50%
	}

	.submit {
		background-color: black;
		border-radius: 2%;
		border: 1px solid gray;
		color: #febc11;
		font-weight: bold;
		margin: 0%;
		display: inline;
	}

	.submit:active {
		background-color: darkslategray;
	}

	input{
		text-transform:capitalize;
	}
</style>