
@page
@model LogoutModel

@{
	ViewData["Title"] = "Logout";
}

<h1>Logout</h1>

<form method="get">
	<input type="submit"  asp-page="/Index" value="Return to Homepage" class="submit" style="width:20%; border:1px solid lightgray; height:60px; border-radius:5%; font-size:large; background-color:white">
</form>