@page
@model PaymentMethodModel
@using PizzaShopWebService.Models;

@{
    ViewData["Title"] = "Payment Method";
}

<div class="row">
	<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3> Select Payment Method </h3>
	</header>
	<form id="formCheck" method="post" style="margin-top:20%;">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:center; top:80px;  vertical-align:central">
			<h4>How would you like to pay?</h4><br />
			
			<select asp-for="PaymentType" asp-items="Html.GetEnumSelectList<PaymentType>()" class="form-control"></select>
			<span asp-validation-for="PaymentType" class="text-danger"></span>	
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"  style="text-align:center; top:80px;  vertical-align:central">
			<input type="submit"  asp-page="/PaymentOptions"  value="Continue" class="submit" style="width:59%" /> <br /> <br />	
		</div>
	</form>

	<form method="get">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"  style="text-align:center; top:80px;  vertical-align:central">
			<input type="submit"  asp-page="/Order"  value="Back" class="submit" style="width:59%" /> <br /> <br />	
		</div>
	</form>
</div>

<style>
    .row {
        margin: 0%;
        padding: 0%;
        height: 650px;
        width: 100%;
        border: 1px solid lightgray;
        
        background-color: white;
        
        /*-moz-box-shadow: 2px 2px 2px 2px darkblue;
        -webkit-box-shadow: 2px 2px 2px 2px darkblue;
        box-shadow: 0px 0px 10px 0px gray;*/
    }

    header {
        height: 60px;
        border-bottom: 1px solid lightgray;
        /*background-color: #febc11;*/
        font-weight: bold;
    }

    footer {
        height: 60px;
        border-top: 1px solid lightgray;
    }

        footer h3 {
            float: right;
            margin-right: 40px;
        }

    h3 {
        text-align: center;
        text-transform: capitalize;
    }

    .row div {
        margin: 0%;
        /*border: 1px solid lightgray;*/
        vertical-align: central;
        display: inline-block;
        padding: 5%;
    }

    input {
        height: 50px;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        border: 1px solid lightgray;
    }

    form {
        padding: 0%;
        width: 100%;
    }

    .submit {
        background-color: black;
        color: #febc11;
        font-weight: bold;
        width: 49%;
        margin: 0%;
        display: inline;
    }

    #formCheck input {
        width: 100%;
    }

    h4 {
        text-transform: uppercase;
    }
</style>

